.box{
    height: 40px;
    width: 40px;
    background-color: beige;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    transition-property: all;
    /* transition-property: height; */
    transition-duration: 10s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}


.box:hover{
    width: 1200px;
    height: 1200px;
    background-color:darkgrey;
}